._*
.buildpath
.docker
.dockerignore
.DS_Store
.DS_Store?
# .env
# .env.*
# *.env
.fleet
.git
.gitattributes
.github
.gitignore
.gitlab
.idea
.nova
.nuxt
.output
.php_cs.cache
.php-cs-fixer.cache
.phplint-cache
.phpstorm.meta.php
.phpunit.cache
.phpunit.result.cache
.pnpm-store
.project
.settings
.Spotlight-V100
.Trashes
.vagrant
.vite
.vscode
.zed
*.bak
*.dump
*.log
*.log.*
*.old
*.orig
*.sql
*.sql.gz
*.swo
*.swp
*.temp
*.tmp
*~
auth.json
bootstrap/cache/*
CHANGELOG.md
CODE_OF_CONDUCT.md
composer.phar
CONTRIBUTING.md
coverage
database/*.sqlite
database/databases/*
deploy-*.sh
desktop.ini
docker-compose.override.yml
docker-compose*.yml
docker/supervisor/conf.d/*.conf
docker/supervisor/supervisord.conf
ehthumbs.db
Homestead.json
Homestead.yaml
LICENSE
node_modules
npm-debug.log*
pgdata
pnpm-debug.log*
postgres-data
public/build
public/css
public/hot
public/js
public/mix-manifest.json
public/storage
README.md
setup-*.sh
storage/*
temp
tests/Reports
Thumbs.db
tmp
Vagrantfile
vendor
xdebug.log
xdebug.profiler*
xdebug.trace*
yarn-debug.log*
yarn-error.log*
!bootstrap/cache/.gitignore
!bootstrap/cache/packages.php
!bootstrap/cache/services.php
!storage/.gitkeep
!storage/logs/.gitkeep
