._*
.cache/
.cypress/
.docker/
.DS_Store
.DS_Store?
.env
.env.*
.env.backup
.env.local
.env.production
.env.testing
*.env.docker
.eslintcache
.fleet/
.idea/
.nova/
.nuxt/
.output/
.phpactor.json
.phpunit.result.cache
.Spotlight-V100
.stylelintcache
.Trashes
.vagrant/
.vite/
.vscode/
.zed/
*.crt
*.csr
*.dump
*.key
*.log
*.pem
*.pid
*.sql
*.sql.gz
*.sublime-project
*.sublime-workspace
*.swo
*.swp
*.tmp
/.phpunit.cache
/auth.json
/node_modules/
/public/build/
/public/hot/
/public/storage
/reverb.log
/reverb.pid
/reverb.sock
/storage/*.key
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/storage/logs/*
/storage/pail
/vendor/
appendonly.aof
bootstrap/cache/*.php
bootstrap/cache/packages.php
bootstrap/cache/services.php
coverage/
desktop.ini
dist/
docker-compose.*.yml
docker-compose.override.yml
dump.rdb
Homestead.json
Homestead.yaml
npm-debug.log*
pgdata/
php_errors.log
playwright-report/
pnpm-debug.log*
postgres-data/
redis.conf
supervisor.log
supervisor.sock
supervisor/*.log
supervisord.pid
temp/
test-results/
Thumbs.db
tmp/
yarn-debug.log*
yarn-error.log*
!.env.example
