services:
  reverb:
    image: 0imbn7v6rkw/websockets-server-reverb:latest
    env_file: ./.env
    environment:
      APP_ENV: production
      APP_DEBUG: "false"

      REDIS_HOST: redis
      DB_HOST: postgres

      CACHE_STORE: redis
      QUEUE_CONNECTION: redis
      SESSION_DRIVER: redis
      BROADCAST_CONNECTION: reverb

      RUN_MIGRATIONS: "true"
      CACHE_ARTISAN: "true"

    # expose ws to host
    ports:
      - "127.0.0.1:8080:8080"

    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_healthy

    restart: unless-stopped
    stop_grace_period: 60s

  postgres:
    image: postgres:17
    env_file: ./.env
    environment:
      POSTGRES_DB: ${DB_DATABASE}
      POSTGRES_USER: ${DB_USERNAME}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    volumes:
      - pgdata:/var/lib/postgresql/data
    restart: unless-stopped
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $$POSTGRES_USER -d $$POSTGRES_DB"]
      interval: 5s
      timeout: 3s
      retries: 20

  redis:
    image: redis:7-alpine
    command: ["redis-server", "--appendonly", "yes", "--maxmemory", "512mb", "--maxmemory-policy", "allkeys-lru"]
    volumes:
      - redisdata:/data
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 2s
      retries: 20

volumes:
  pgdata:
  redisdata:
